/* Flex */

.flex {
    display: -ms-flexbox;
    -ms-flex-wrap: nowrap;
    -ms-flex-pack: justify;
    -ms-flex-align: stretch;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -moz-align-items: stretch;
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
  }
  
    .flex.flex-3 .flex-item {
      -ms-flex: 0 1 auto;
      -ms-flex-preferred-size: 30%;
      -moz-flex-basis: 30%;
      -webkit-flex-basis: 30%;
      -ms-flex-basis: 30%;
      flex-basis: 30%;
    }
  
      .flex.flex-3 .flex-item.left {
        text-align: right;
      }
  
    @media screen and (max-width: 980px) {
  
      .flex {
        -ms-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      }
  
        .flex.flex-3 .flex-item {
          -ms-flex-preferred-size: 100%;
          -moz-flex-basis: 100%;
          -webkit-flex-basis: 100%;
          -ms-flex-basis: 100%;
          flex-basis: 100%;
        }
  
          .flex.flex-3 .flex-item.left {
            text-align: right;
          }
  
    }
  
    /* Wrapper */
  
      .wrapper {
          padding: 6em 0 4em 0;
      }
  
    .inner {
          margin: 0 auto;
          max-width: 65em;
      }
  
          @media screen and (max-width: 1280px) {
  
              .inner {
                  max-width: 90%;
              }
  
          }
  
          @media screen and (max-width: 980px) {
  
              .inner {
                  max-width: 70%;
              }
  
          }
  
          @media screen and (max-width: 736px) {
  
              .inner {
                  max-width: 85%;
              }
  
      }
      
      /* Image */
  
      .image {
          border: 0;
          display: inline-block;
          position: relative;
      }
  
          .image img {
              display: block;
          }
  
          .image.left, .image.right {
              max-width: 40%;
          }
  
              .image.left img, .image.right img {
                  width: 100%;
              }
  
          .image.left {
              float: left;
              padding: 0 1.5em 1em 0;
              top: 0.25em;
          }
  
          .image.right {
              float: right;
              padding: 0 0 1em 1.5em;
              top: 0.25em;
          }
  
          .image.fit {
              display: block;
              margin: 0 0 2em 0;
              width: 100%;
          }
  
              .image.fit img {
                  width: 100%;
              }
  
          .image.round img {
              border-radius: 100%;
          }
  
          .image.main {
              display: block;
              margin: 0 0 3em 0;
              width: 100%;
          }
  
              .image.main img {
                  width: 100%;
              }
  
        /* Main */
  
      #one .inner {
          margin-bottom: 2em;
      }
  
      #one .flex-item {
          display: -ms-flexbox;
          -ms-flex-wrap: wrap;
          -ms-flex-pack: justify;
          display: -moz-flex;
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          -moz-flex-wrap: wrap;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -moz-justify-content: space-between;
          -webkit-justify-content: space-between;
          -ms-justify-content: space-between;
          justify-content: space-between;
          -moz-align-items: stretch;
          -webkit-align-items: stretch;
          -ms-align-items: stretch;
          align-items: stretch;
      }
  
          #one .flex-item.left div:first-child, #one .flex-item.right div:first-child {
              padding-top: 1em;
          }
  
          #one .flex-item.left div:last-child, #one .flex-item.right div:last-child {
              -moz-align-self: -moz-flex-end;
              -webkit-align-self: -webkit-flex-end;
              -ms-align-self: -ms-flex-end;
              align-self: flex-end;
          }
  
          #one .flex-item.left div p, #one .flex-item.right div p {
              margin-bottom: 1em;
          }
  
          @media screen and (max-width: 1280px) {
  
              #one .flex-item.left div:first-child, #one .flex-item.right div:first-child {
                  padding-top: 0;
              }
  
              #one .flex-item.left div p, #one .flex-item.right div p {
                  margin-bottom: 0;
              }
  
          }
  
          @media screen and (max-width: 980px) {
  
              #one .flex-item {
                  -moz-flex-direction: column;
                  -webkit-flex-direction: column;
                  -ms-flex-direction: column;
                  flex-direction: column;
                  text-align: center;
              }
  
                  #one .flex-item.left br, #one .flex-item.right br {
                      display: none;
                  }
  
                  #one .flex-item.left div:first-child, #one .flex-item.right div:first-child {
                      padding-top: 0;
                  }
  
                  #one .flex-item.left div:last-child, #one .flex-item.right div:last-child {
                      -moz-align-self: center;
                      -webkit-align-self: center;
                      -ms-align-self: center;
                      align-self: center;
                  }
  
                  #one .flex-item.left div p, #one .flex-item.right div p {
                      margin-bottom: 2em;
                  }
  
          }
  
      #one .image.fit {
          margin: 0;
      }
  
          @media screen and (max-width: 980px) {
  
              #one .image.fit {
                  margin: 0 auto 2em auto;
                  max-width: 60%;
              }
  
          }
  
          @media screen and (max-width: 480px) {
  
              #one .image.fit {
                  margin: 0 auto 2em auto;
                  max-width: 90%;
              }
  
          }
  
      @media screen and (max-width: 980px) {
  
          #two blockquote br {
              display: none;
          }
  
      }
  
      @media screen and (max-width: 980px) {
  
          #three {
              text-align: center;
          }
  
      }
  